name: Security Testing

on:
  push:
    branches: [ main ]

jobs:
  llm-pentest:
    uses: tonyAllTrue/fuzzy-system/.github/workflows/external-pentest.yml@main
    with:
      fail-on-moderate: true
    secrets:
      ALLTRUE_API_KEY: ${{ secrets.ALLTRUE_API_KEY }}
      ALLTRUE_API_URL: ${{ secrets.ALLTRUE_API_URL }}
      ALLTRUE_CUSTOMER_ID: ${{ secrets.ALLTRUE_CUSTOMER_ID }}
      ALLTRUE_ORGANIZATION_ID: ${{ secrets.ALLTRUE_ORGANIZATION_ID }}
